<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GRINGlobal.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GrinGlobal.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GRINGlobal.Client.Properties.Settings>
            <setting name="GrinGlobal_Client_GrinGlobalGUIWebServices_GUI"
                serializeAs="String">
                <value>http://test.grin-global.org/gringlobal/gui.asmx</value>
            </setting>
        </GRINGlobal.Client.Properties.Settings>
        <GrinGlobal.Client.Properties.Settings>
            <setting name="GrinGlobal_Client_GrinGlobalGUIWebServices_GUI"
                serializeAs="String">
                <value>http://grin-global-dev1.agron.iastate.edu/gringlobal/GUI.asmx</value>
            </setting>
        </GrinGlobal.Client.Properties.Settings>
    </applicationSettings>
</configuration>